.transition-text {
  opacity: 1 !important;
  visibility: visible !important;
}

.line {
  display: block;
  clip-path: inset(0 100% 0 0);
}

.transition-text *, .line * {
  background-clip: unset !important;
  -webkit-background-clip: unset !important;
  background-image: none !important;
}

.transition-text-keyword {
  color: #123C4D !important;
}

.transition-text-keyword-final {
  color: #000000 !important;
}
